body {
  background-color: #f8f9fa;
}

.card {
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}

.navbar-brand {
  font-weight: bold;
}

.progress-bar {
  font-weight: 500;
  color: white;
}
